.blogs_section {
    padding: 2rem;
    background-color: #111111;
    color: #fff;
    text-align: center;
  }
  
  .blogs_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .blog_card {
    text-align: left;
    padding: 1rem;
  }
  
  .blog_image_wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
  }
  
  .blog_image {
    width: 100%;
    display: block;
    border-radius: 16px;
  }
  
  .blog_date {
    position: absolute;
    top: 25px;
    left: 30px;
    background: #dbdbdbac; 
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 8px;
    z-index: 2;
    backdrop-filter: blur(20px)
  }
  
  .blog_card h4 {
    margin: 1rem 0 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .blog_card p {
    font-size: 1rem;
    color: #ccc;
  }
  
.blogs_section h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-right: 64%;
}